.title_top {font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#FFFFFF;}
.title_login {font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#666666; padding:10;}
.user_login {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:10; padding-top:5;}
.forgot_login {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#575757; padding1:10; padding-top:5;}
.login_textbox {font-family: Arial; font-size: 12px; width:120; height:18;}
.login_submit {font-family:Arial; font-size:14; text-decoration:none; color:#575757; border: 1; padding: 1; margin: 1; width: 100px; height: 26px; background:#9999dd; background-image1:url(login_submit.gif); cursor:pointer;}
.monthdaytitle          {white-space: nowrap; background:#cccccc; padding:6px; color:#000000; border-left:1px solid #eeeeee; text-align:center;}
.monthday               {white-space: nowrap; background:#ffffff; padding:2px; color:#000000; border1:1px solid #eeeeee; width:14%; height:100; vertical-align:top;}
.monthempty             {white-space: nowrap; background:#ffffff; padding:2px; color:#000000; border1:1px solid #eeeeee; width:14%; height:100; vertical-align:top;}
.monthdayweekend        {white-space: nowrap; background:#ffffaa; padding:2px; color:#000000; border1:1px solid #eeeeee; width:14%; height:100; vertical-align:top;}
.monthdayweekend2       {white-space: nowrap; background:#ffffdd; padding:2px; color:#000000; border1:1px solid #eeeeee; width:14%; height:100; vertical-align:top;}
.monthdaytoday          {white-space: nowrap; background:#ffccaa; padding:2px; color:#000000; border1:1px solid #eeeeee; width:14%; height:100; vertical-align:top;}
.monthdaychosen         {white-space: nowrap; background:#ffffff; padding:1px; color:#000000; border:1px solid #ff0000; width:14%; height:100; vertical-align:top;}
.monthdaytodaychosen    {white-space: nowrap; background:#ffccaa; padding:1px; color:#000000; border:1px solid #ff0000; width:14%; height:100; vertical-align:top;}
.monthdayweekendchosen  {white-space: nowrap; background:#ffffaa; padding:1px; color:#000000; border:1px solid #ff0000; width:14%; height:100; vertical-align:top;}
.monthdayweekend2chosen {white-space: nowrap; background:#ffffdd; padding:1px; color:#000000; border:1px solid #ff0000; width:14%; height:100; vertical-align:top;}

body      {font-family:Arial; font-size:12px; color:#000000; background:#ECECEC;}
table     {font-family:Arial; font-size:12px; color:#000000;}
td1       {padding:2; border-bottom:1px solid #C45800;}
form      {display:inline;}
.tdnav    {background:#2C3237;}
.tdmain   {padding-left:40px; padding-right:40px; padding-top:15px;}
.subtablinks {margin-top:25; padding:8; height:32; background:#dddddd;}

input     {font-size:12px; font-family:Arial; border-top:#ffffff; border-right:#ffffff; border-left:#ffffff; background:#;}
select    {font-size:12px; font-family:Arial;}
textarea  {font-size:12px; font-family:Arial; border-top:#ffffff; border-right:#ffffff; border-left:#ffffff; background:#;}
input.groovybutton {background:#2f3c3f; color:#ffffff; width:110; padding:3; font-size1:14; height:28; scroll:no; font-weight:bold; overflow:hidden; white-space:nowrap; text-decoration:none; border:1px solid #cccccc; border-bottom:1px solid #808080; border-right:1px solid #808080; text-align:center; margin-left:1; margin-right:1;}
input.groovybutton2 {background:#2f3c3f; color:#ffffff; width:200; height:34; padding:3; font-size:14; scroll:no; overflow:hidden; white-space:nowrap; text-decoration:none; border:1px solid #cccccc; border-bottom:1px solid #808080; border-right:1px solid #808080; text-align:center; margin-left:10; margin-right:10; margin-bottom:10; border:0; border-bottom:2px solid #eeeeee; border-right:2px solid #eeeeee;}

.list_table     {font-family:Arial; font-size:12px; color:#000000;}
.form_table     {font-family:Arial; font-size:12px; color:#000000; width:800; background:#ffffff; border:1px solid #cccccc; border-right:3px solid #cccccc; border-bottom:3px solid #cccccc; margin-top:22; background-image1: url(form_bg_top.png); background-repeat: repeat-x;}
.tablink0       {font-family:Arial; font-size:12px; color:#ffffff; font-weight:bold;}
.tablink1       {font-family:Arial; font-size:12px; color:#ffffff; font-weight:bold;}

.list_item  {padding:14; height:40; border-bottom:1px solid #dddddd; vertical-align:top;}
.list_name  {color:#808080; background:#ececec; border-bottom1:1px solid #808080; padding:2; font-size:16px; font-weight:bold;}
.list_title {white-space: nowrap; background:#808080; color:#FFFFFF; padding:10; border-right:1px solid #aaaaaa; font-weight:bold; vertical-align:top;}
.list_title2{white-space: nowrap; background:#808080; padding:4px; border:1px solid #ffffff; font-size:12; writing-mode:tb-rl; filter1:flipH() flipV(); vertical-align:bottom;}
.list_total1 {white-space: nowrap; background1:#ffffff; padding:4; font-weight:bold; vertical-align:top; color:#777777;}
.list_total2 {white-space: nowrap; background1:#ffffff; padding:4; font-weight:bold; vertical-align:top; color:#ff0000; text-align:right; direction:ltr;}

.form_name  {color:#aaaaaa; background1:#eeeeee; border-bottom:1px solid #dddddd; padding:10; font-size:16px; font-weight:bold; white-space:nowrap;}
.form_item1 {white-space: nowrap; padding:4; padding-left:30; padding-right:30; background1:#eeeeee; font-weight:bold;}
.form_item2 {white-space: nowrap; padding:4; background1:#eeeeee; width:100%;}
.form_item3 {white-space: nowrap; padding:2; background1:#eeeeee; height:20; font-weight1:bold;}
.showtree   {white-space: nowrap; padding:2;}

.search_bar {width:1150; padding-bottom:15;}
.update_bar  {text-align:center; color:#444444; font-weight1:bold; padding:10;}
.update_bar2 {text-align:center; color:#444444; font-weight1:bold; padding:10;}

.pages_bar  {background1:#dddddd; border-top:1px solid #aaaaaa;}
.list_multi {color:#444444;}

.hide           {visibility:hidden; position:absolute; top:-2000;}
.msg            {color:#ffffff; font-weight:bold; background:#aa0000; padding:3px;}
.kidscount      {color:#aaaaaa;}
.groupseperator {white-space: nowrap; background:#ececec; padding:10px; font-weight:bold; color:#000000; padding-left:25; padding-right:25;}

a                         {text-decoration:none; color:#000000; font-family:Arial; font-size:12;}
a:visited                 {text-decoration:none; color:#000000; font-family:Arial; font-size:12;}
a:hover                   {text-decoration:underline; color:#000000; font-family:Arial; font-size:12;}

a.list_title_link         {text-decoration:none; color:#ffffff; font-family:Arial; font-size:12; font-weight:bold;}
a.list_title_link:visited {text-decoration:none; color:#ffffff; font-family:Arial; font-size:12; font-weight:bold;}
a.list_title_link:hover   {text-decoration:underline; color:#cccccc; font-family:Arial; font-size:12; font-weight:bold;}
a.list_title2_link        {text-decoration:none; color:#ffffff; font-family:Arial; font-size:12;}
a.list_title2_link:visited{text-decoration:none; color:#ffffff; font-family:Arial; font-size:12;}
a.list_title2_link:hover  {text-decoration:underline; color:#cccccc; font-family:Arial; font-size:12;}

a.list_item_link          {text-decoration:none; color:#005000; font-family:Arial; font-size:12;}
a.list_item_link:visited  {text-decoration:none; color:#005000; font-family:Arial; font-size:12;}
a.list_item_link:hover    {text-decoration:underline; color:#005000; font-family:Arial; font-size:12;}
a.search_bar_link         {color:#005000; font-weight:bold;}
a.search_bar_link:visited {color:#005000; font-weight:bold;}
a.search_bar_link:hover   {color:#005000; font-weight:bold;}

.input1   {padding:3; border:1px solid #aaaaaa; font-size:18; border-radius:7px; height:28; font-family:Arial; width:250; outline:none;}
.select1  {padding:3; border:1px solid #aaaaaa; font-size:18; border-radius:7px; height:28; font-family:Arial;}
.button1  {padding:3; border:1px;               font-size:18; border-radius:7px; height:28; font-family:Arial; scroll:no; background:#60a060; color:#ffffff; font-weight:bold; text-decoration:none; padding-left:20; padding-right:20;}
