.title_top {font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#FFFFFF;}
.title_login {font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#666666; padding:10;}
.user_login {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:10; padding-top:5;}
.forgot_login {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#575757; padding1:10; padding-top:5;}
.login_textbox {{ font-family: Arial; font-size: 12px; width:120; height:18;}
.login_submit {font-family:Arial; font-size:14; text-decoration:none; color:#575757; border: 1; padding: 1; margin: 1; width: 100px; height: 26px; background:#9999dd; background-image:url(login_submit.gif); cursor:pointer;}
.monthdaytitle         {white-space: nowrap; background:#cccccc; padding:2px; color:000000; border-left1:1px solid #808080; text-align:center;}
.monthday              {white-space: nowrap; background:#ffffff; padding:2px; color:000000; border:1px solid #cccccc; width:14%; height:100; vertical-align:top;}
.monthempty            {white-space: nowrap; background:#ffffff; padding:2px; color:000000; border:1px solid #cccccc; width:14%; height:100; vertical-align:top;}
.monthdayweekend       {white-space: nowrap; background:#ffffaa; padding:2px; color:000000; border:1px solid #cccccc; width:14%; height:100; vertical-align:top;}
.monthdaytoday         {white-space: nowrap; background:#ffccaa; padding:2px; color:000000; border:1px solid #cccccc; width:14%; height:100; vertical-align:top;}
.monthdaychosen        {white-space: nowrap; background:#ffffff; padding:1px; color:000000; border:2px solid #ff0000; width:14%; height:100; vertical-align:top;}
.monthdaytodaychosen   {white-space: nowrap; background:#ffccaa; padding:1px; color:000000; border:2px solid #ff0000; width:14%; height:100; vertical-align:top;}
.monthdayweekendchosen {white-space: nowrap; background:#ffffaa; padding:1px; color:000000; border:2px solid #ff0000; width:14%; height:100; vertical-align:top;}
body      {font-family:arial; font-size:12px; color:000000; background:#ffffff;}
table     {font-family:arial; font-size:12px; color:000000; border-collapse:collapse;}
td1       {padding:2; border-bottom:1px solid #C45800;}
input     {font-size:12px; font-family:arial;}
textarea  {font-size:12px; font-family:arial;}
select    {font-size:12px; font-family:arial;}
.list_table     {font-family:arial; font-size:12px; color:000000;}
.form_table     {font-family:arial; font-size:12px; color:000000; width:100; background:#eeeeee; border:2px solid #aaaaaa; margin-top:15;}
.tablink0       {font-family:arial; font-size:12px; color:333333; font-weight1:bold;}
.tablink1       {font-family:arial; font-size:12px; color:333333; font-weight1:bold;}

.list_item  {padding:4; border:1px solid #ffffff;}
.list_name  {color:808080; background:#ffffff; border-bottom:1px solid #70b43d; padding:2; font-size:16px; font-weight:bold;}
.list_title {white-space: nowrap; background:#808080; color:#FFFFFF; padding:2; border:1px solid #ffffff; font-weight:bold; vertical-align:top;}
.list_title2{white-space: nowrap; background:#808080; padding:2px; border:1px solid #ffffff; font-size:12; writing-mode:tb-rl; filter1:flipH() flipV(); vertical-align:bottom;}
.list_total1 {white-space: nowrap; background:#eeeeee; padding:2; font-weight:bold; vertical-align:top; color:777777;}
.list_total2 {white-space: nowrap; background:#eeeeee; padding:2; font-weight:bold; vertical-align:top; color:ff0000; text-align:right; direction:ltr;}
.form_name  {color:808080; background:#eeeeee; padding:2; font-size:16px; font-weight:bold; white-space:nowrap;}
.form_item1 {white-space: nowrap; padding:4; padding-left:30; padding-right:30; background:#eeeeee; font-weight:bold;}
.form_item2 {white-space: nowrap; padding:4; background:#eeeeee; width:100%;}
.form_item3 {white-space: nowrap; padding:2; background:#eeeeee; height:20; font-weight1:bold;}
.showtree   {white-space: nowrap; padding:2;}

.search_bar {background:#eeeeee; width:1070;}
.update_bar {background:#eeeeee; text-align:left; color:444444; font-weight:bold; padding-top:15;}
.pages_bar  {background:#e4efcf; border-bottom:1px solid #aaaaaa;}
.list_multi {background:#ecf3ea; color:444444; font-weight:bold;}

.hide           {visibility:hidden; position:absolute; top:-2000;}
.msg            {color:ffffff; font-weight:bold; background:#00ff00; padding:3px;}
.kidscount      {color:aaaaaa;}
.groupseperator {white-space: nowrap; background:#dddd80; padding:0px; font-size:11; font-weight:bold; color:000000; padding-left:25; padding-right:25;}

a                         {text-decoration:none; color:005000; font-family:arial; font-size:12;}
a:visited                 {text-decoration:none; color:005000; font-family:arial; font-size:12;}
a:hover                   {text-decoration:underline; color:005000; font-family:arial; font-size:12;}

a.list_title_link         {text-decoration:none; color:ffffff; font-family:arial; font-size:12; font-weight:bold;}
a.list_title_link:visited {text-decoration:none; color:ffffff; font-family:arial; font-size:12; font-weight:bold;}
a.list_title_link:hover   {text-decoration:underline; color:cccccc; font-family:arial; font-size:12; font-weight:bold;}
a.list_title2_link        {text-decoration:none; color:ffffff; font-family:arial; font-size:12;}
a.list_title2_link:visited{text-decoration:none; color:ffffff; font-family:arial; font-size:12;}
a.list_title2_link:hover  {text-decoration:underline; color:cccccc; font-family:arial; font-size:12;}

a.list_item_link          {text-decoration:none; color:#005000; font-family:arial; font-size:12;}
a.list_item_link:visited  {text-decoration:none; color:#005000; font-family:arial; font-size:12;}
a.list_item_link:hover    {text-decoration:underline; color:005000; font-family:arial; font-size:12;}
a.search_bar_link         {color:#005000; font-weight:bold;}
a.search_bar_link:visited {color:#005000; font-weight:bold;}
a.search_bar_link:hover   {color:#005000; font-weight:bold;}
