body 
{
 scrollbar-arrow-color: #4e658a;
 scrollbar-3dlight-color: #777799;
 scrollbar-darkshadow-color: #666677;
 scrollbar-face-color: #a1b1c3;
 scrollbar-highlight-color: #e9e9e9;
 scrollbar-shadow-color: #a1b1c3;
 scrollbar-track-color: #9faab8;
 background-color:#ffffff;
 margin-top:0px;
}


.login_page { height:5em; }
.login_textbox { font-family:Helvetica, Arial, sans-serif; font-size:2em; color:#999999; height:2.5em; }
.rememberme { font-family:arial;font-size:3em;padding-right:0.5em; vertical-align:top;}
.submit_register {background-image:url(bluebutton.png); width:5.84em; height:90px;border:0px; color:#ffffff; font-size:3em; cursor:pointer;}
.forgotpass { font-family:arial;font-size:2em;padding-right:0.5em; vertical-align:top;}

.holding_user_details { width:50%; }
.user_details_1 {font-family:arial;font-size:2em; }
.user_details_2 {font-family:arial;font-size:2.5em; }
.user_details_3 {font-family:arial;font-size:3em; }
.user_pic { width:10em; }

.user_selectbox { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; color:#000000; width:70%; height:70px; padding-left:15px; padding-right:15px; }
.user_selectbox_s { font-family:Helvetica, Arial, sans-serif; font-size:50px; color:#000000; width:23%; height:100px; padding-left:15px; padding-right:15px; }
.user_selectbox_c { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; color:#000000; height:60px; width:100%; padding-left:15px; padding-right:15px; }
.user_selectbox_m { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; color:#000000; height:60px; width:100%; padding-left:15px; padding-right:15px; }
.user_selectbox_mm { font-family:Helvetica, Arial, sans-serif; font-size:50px; color:#000000;width:25%; height:100px; padding-left:15px; padding-right:15px; }

.user_submit {background-color:#366cd1; font-family:Helvetica, Arial, sans-serif; font-size:50px; color:#ffffff; width:80%; height:100px; padding-left:15px; padding-right:15px; }

.ways_selectbox1 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#2d8ec6; color:#fff; width:70%; height:100px; padding-left:15px; padding-right:15px; }
.ways_selectbox2 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#2dc68b; color:#fff; width:70%; height:100px; padding-left:15px; padding-right:15px; }
.ways_selectbox3 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#87c62d; color:#fff; width:70%; height:100px; padding-left:15px; padding-right:15px; }
.ways_selectbox4 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#bdc62d; color:#fff; width:70%; height:100px; padding-left:15px; padding-right:15px; }

.td_title { background:#eeeeee; font-family:Helvetica, Arial, sans-serif; font-size:2.5em; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px; }
.title_title { font-family:Helvetica, Arial, sans-serif; font-size:3em; color:#000; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px; }
.fields_title {background:#808080; color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:2.5em; padding-left:15px; padding-right:15px; }
.fields_rows { font-family:Helvetica, Arial, sans-serif; font-size:2em; padding-left:15px; padding-right:15px; }

 #calendar {
 width: 900px;
 margin: 0 auto;
 }

.tablescroll
{ font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #000; }

.tablescroll td
{ padding:3px 5px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:11px; font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-bottom:3px; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr.first td
{ border-top:0; }

.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0; }

.calldiv { font-family:arial;font-size:20px;text-align:right; direction:ltr; }

/* BIG Checkbox */
label {
 display: inline;
}
 
.regular-checkbox {
 display: none;
}
 
.regular-checkbox + label {
 background-color: #fafafa;
 border: 1px solid #cacece;
 box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
 padding: 9px;
 border-radius: 3px;
 display: inline-block;
 position: relative;
}
 
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
 box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked + label {
 background-color: #e9ecee;
 border: 1px solid #adb8c0;
 box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
 color: #99a1a7;
}
 
.regular-checkbox:checked + label:after {
 content: '\2714';
 font-size: 14px;
 position: absolute;
 top: 0px;
 left: 3px;
 color: #99a1a7;
}
 
.big-checkbox + label {
 padding: 36px;
}
 
.big-checkbox:checked + label:after {
 font-size: 70px;
 left: 3px;
}
 
.tag {
 font-family: Arial, sans-serif;
 width: 200px;
 position: relative;
 top: 5px;
 font-weight: bold;
 text-transform: uppercase;
 display: block;
 float: left;
}
/* END BIG Checkbox */

/* Start Form css */
.form_field_title  {font-family:Helvetica, Arial, sans-serif; font-size:2.5em; color:#000; font-weight:bold;}
.form_field_row  {font-family:Helvetica, Arial, sans-serif; font-size:2.5em; color:#000;}

.form_field_title1  {font-family:Helvetica, Arial, sans-serif; font-size:2em; color:#000; font-weight:bold;}
.form_field_row1  {font-family:Helvetica, Arial, sans-serif; font-size:2em; color:#000;}

.form_field_td {background:#F9F9F9;padding-left:15px; padding-right:15px; }
.update_selectbox1 { font-family:Helvetica, Arial, sans-serif; font-size:2em; background-color:#6C0; color:#fff; height:100px; padding-left:15px; padding-right:15px; }
.update_selectbox2 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#6C9; color:#fff; width:32%; height:100px; padding-left:15px; padding-right:15px; }
.update_selectbox3 { font-family:Helvetica, Arial, sans-serif; font-size:2.5em; background-color:#699; color:#fff; width:32%; height:100px; padding-left:15px; padding-right:15px; }
.checkbox_lable { font-family:arial;font-size:3em;padding-right:20px; vertical-align:top; }
.checkbox_lable_enable { font-family:arial;font-size:3em;padding-right:20px; vertical-align:top; }
.checkbox_lable_disable {font-family:arial;font-size:3em;padding-right:20px; vertical-align:top; }

/* End Form css */

.bottom1 a:link{ font-size:2em; color:808080; vertical-align:bottom; }
.bottom1 a:visited { font-size:2em; color:808080; vertical-align:bottom; }
.rrbottom { font-family:arial;font-size:1em;color:000; }
.rrbottom a:link{ font-family:arial;font-size:1em;color:000; color:#060; }
.rrbottom a:visited { font-family:arial;font-size:1em;color:000; color:#060; }

.suitcase {width:5em;}
